<h1>My skills</h1>
<% @skills.each do |skill| %>
  <%= skill.name %>
  <%= skill.description %>
  <%= skill.price %>
  <%= skill.level %>
<% end %>

<a class="btn btn-ghost" href="new">Add a new skill</a>
